.ppn-top-header__container--icons {
    color: rgb(144, 88, 167);
    padding: .2rem;
    margin: 0;
    height: 40px;
}

.ppn-top-header__container--site-title {
    color: rgb(113, 67, 133);
    font-weight: bold;
    padding: .2rem;
    font-size: 1.5rem;
}

.ppn-top-header__container--icons--hover{
    cursor: pointer;
}

.ppn-top-header__container--icons--hover :hover{
    border-bottom: 2px solid rgb(144, 88, 167);
    transition: all .3s;
}

.ppn-top-header__sub-container{
    color: rgb(162, 86, 192);
    cursor: pointer;
}

.ppn-top-header__sub-container--item{
    padding: .2rem;
    border-bottom: 1px solid rgb(162, 86, 192);
}

.ppn-top-header__sub-container:last-child{
    border-bottom: none;
}