.ppn-top-header__container--icons {
    color: rgb(144, 88, 167);
    padding: .2rem;
    margin: 0;
    height: 40px;
}

.ppn-top-header__container--site-title {
    color: rgb(113, 67, 133);
    font-weight: bold;
    padding: .2rem;
    font-size: 1.5rem;
}

.ppn-top-header__container--icons--hover{
    cursor: pointer;
}

.ppn-top-header__container--icons--hover :hover{
    border-bottom: 2px solid rgb(144, 88, 167);
    transition: all .3s;
}

.ppn-top-header__sub-container{
    color: rgb(162, 86, 192);
    cursor: pointer;
}

.ppn-top-header__sub-container--item{
    font-size: .8rem;
}

.nav-header__first{
    color:rgb(162, 86, 192);
    font-size: .9rem;
}

.nav-header__last{
    color: #444;
    font-size:1.2rem;
    margin-left: -5px;
}
