<form class="example-form" fxLayout="column">
  <h3>Sending feedback to PalPalNepal Private Limited</h3>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between">
      <button (click) = "closeDialog()" mat-button color="primary">Cancel</button>
      <button  mat-button color="secondary">Submit</button>
  </div>
  
</form>