<footer fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2rem" class="ppn-footer-container">
    <section fxFlex class="ppn-footer-item">
        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
        </mat-list>
    </section>
    <section fxFlex class="ppn-footer-item">
        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
        </mat-list>
    </section>
    <section fxFlex class="ppn-footer-item">
        <mat-list>
            <mat-list-item (click)="feedback()">Feedback</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
        </mat-list>
    </section>
</footer>