<mat-card fxLayoutWrap class="ppn-article-container">
  <h3 fxFlex="100" class="ppn-article-container__item__title">केही शीर्षक यहाँ हुनेछ</h3>
  <div fxFlex="50">
    <img [src]="imagePath" alt="Image" class="ppn-article-container__item__image">
  </div>
  <div fxFlex="50" class="ppn-article-container__item__author--small">
    दिपेश केसी , २०७५-०१-०१ 
  </div>
  <div fxFlex="100">
    तपाईंको साइटमा प्रतिमा फन्ट इम्बेड गर्न निर्देशनहरू पालना गर्नुहोस् र सिक्नुहोस् CSS प्रयोग गरेर तपाईंको आइकनहरू कसरी शैली गर्ने।
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="end row">
      <button mat-button color="primary" (click)="readMore(1)">थप पढ्नुहोस्</button>
  </div>
</mat-card>